---
import MainLayout from '../layouts/MainLayout.astro';
import Navbar from '../components/sections/Navbar.astro';
import Hero from '../components/sections/Hero.astro';
import KondisiSection from '../components/sections/KondisiSection.astro';
import StatsSection from '../components/sections/StatsSection.astro';
import TrustBar from '../components/sections/TrustBar.astro';
import ProgramSection from '../components/sections/ProgramSection.astro';
import DonasiSection from '../components/sections/DonasiSection.astro';
import TestimonialSection from '../components/sections/TestimonialSection.astro';
import FAQSection from '../components/sections/FAQSection.astro';
import CTASection from '../components/sections/CTASection.astro';
import Footer from '../components/sections/Footer.astro';
import StickyDonateButton from '../components/islands/StickyDonateButton';
---

<MainLayout>
  <Navbar />
  <main>
    <Hero />
    <KondisiSection />
    <StatsSection />
    <TrustBar />
    <TestimonialSection />
    <ProgramSection />
    <FAQSection />
    <DonasiSection />
    <CTASection />
  </main>
  <Footer />

  <!-- Interactive Islands -->
  <StickyDonateButton client:load />
</MainLayout>
